@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --primary: #00be0b;
  --background: #1b1b1b;
  --red: #ff0000;
}

html {
  background-color: var(--background);
}

.glowing-border-green {
  border: 2px solid var(--primary);
  box-shadow: 0 0 10px var(--primary);
  padding: 5px;
}

.glowing-border-red {
  border: 2px solid var(--red);
  box-shadow: 0 0 10px var(--red);
  padding: 5px;
}

.neat-link {
  text-decoration: none;
}

p, a, h1, h2, h3, h4, h5, h6, span, pre, li, label, input {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  background-color: black;
  color: white;
}

select {
  background-color: black;
  color: white;
}

input[type="checkbox"] {
  color: var(--primary);
}

button {
  background-color: black;
  color: white;
}

thead, tfoot {
  background-color: var(--background);
}

table {
  border-collapse: collapse;
  border: 2px solid white;
  color: white;
}

th, td {
  border: 1px solid white;
  padding: 8px 10px;
}

td {
  text-align: center;
}
